div.searchContent {
    .btn {
      border: none;
      color: white;
      background-color: purple;
      border-radius: 8px;
      font-weight: 600;
      display: flex;
      align-items: center;

      padding: 14px;
      transition: filter 0.2s;

      margin-left: 10px;

      &:hover {
          filter: brightness(0.7);
          cursor: pointer;
      }
    }
}