section.weatherContent {
  background-color: white;
  border-radius: 1rem;
  
  margin: -10rem auto;
  padding: 70px 60px;

  max-width: 1000px;
  
  filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.06));

  display: flex;
  flex-direction: column;

  div {
      margin: 0 auto;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 100%;
  
  }

  div.infoContent {
      margin-top: 2rem;
      flex-direction: column;

      .location {
          display: flex;
          margin-bottom: 15px;

          .city {
            font-size: 30px;
            margin-right: 5px;
          }
    
          .country {
              font-size: 20px;
              align-self: flex-end;
          }
      }
  }
}

@media screen and (max-width: 1100px) {
    section.weatherContent {
        width: 80%;
    }
}